{% extends 'template.html' %}
{% load static %}

{% block title %}Фасилитация встреч{% endblock %}
{% block page_title %}Главная{% endblock %}

{% block content %}
<p>
    Сделайте деловые встречи продуктивными, применив технику фасилитации с использованием данного сервиса:
</p>

<ul>
    <li> Чётко сформулируйте цель и тему встречи</li>
    <li> Пригласите участников встречи с кокретным поводом - пусть они выскажут свои возражения и предложения до встречи</li>
    <li> В начале встречи позвольте участникам высказаться, согласно их плану</li>
    <li> Во время встречи фиксируйте поручения/задачи, сроки, ответственных за выполнение</li>
	  <li> Подмечайте отступления от основной темы, излишнюю детализацию и "плавание по поверхности" там, где стоит углубиться</li>
</ul>

<p>В конце встречи получите готовый список задач, сроки и ответственных за выполнение</p>

{% endblock %}
