{% extends 'template.html' %}
{% load static %}

{% block description %}
Сервис для фасилитации деловых встреч для повышения их эффективности
{% endblock %}

{% block keywords %}
фасилитация встреч онлайн, холст фасилитации
{% endblock %}

{% block title %}Фасилитация встреч{% endblock %}
{% block page_title %}Главная{% endblock %}

{% block start_of_head %}
{{ block.super }}
    <style>
    .tiles {
        display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				flex-wrap: wrap;
		}
    .menu-tile {
        width: 150px;
        height: 150px;
        display: inline-block;
        border-radius: 12px;
        border: solid 2px chocolate;
        text-align: center;
        margin-bottom: 30px;
        overflow: hidden;
    }
    .menu-tile a {
        text-decoration: none;
    }
    .menu-tile img {
        width: 55%;
    }
    .tile-body {
        display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
        height: 70%;
        font-size: 16pt;
        font-weight: 700;
        text-transform: uppercase;
    }
    .tile-footer {
        display: flex;
				flex-direction: column;
				justify-content: center;
        height: 30%;
        background: chocolate;
    }
    .tile-footer a {
        color: white;
    }
    </style>
{% endblock %}

{% block content %}
		<p>
				Сделайте деловые встречи продуктивными, применив технику фасилитации:
		</p>

		<ul>
				<li> Чётко сформулируйте цель и тему встречи</li>
				<li> Пригласите участников встречи с конкретным поводом - пусть они выскажут свои возражения и предложения до встречи</li>
				<li> В начале встречи позвольте участникам высказаться, согласно их плану</li>
				<li> Во время встречи фиксируйте поручения/задачи, сроки, ответственных за выполнение</li>
				<li> Подмечайте отступления от основной темы, излишнюю детализацию и "плавание по поверхности" там, где стоит углубиться</li>
		</ul>

		<p>В конце встречи получите готовый список задач, со сроками и ответственными за их выполнение</p>

		<h2>Кому полезно</h2>

		<ul>
				<li>Продуктовые/проект менеджеры, тим-лиды</li>
				<li>Команды цифровой и материальной разработки</li>
				<li>Некоммерческие сообщества, реализующие интересный проект</li>
				<li>Сообщества НИОКР и DIY</li>
		</ul>

    <div class="tiles">
				<div class="menu-tile">
						<div class="tile-body">
								<a href="{% url 'faci_list' %}">Встречи</a>
						</div>
						<div class="tile-footer">
								<a href="{% url 'faci_list' %}?which=my">Мои</a>
						</div>
				</div>
				<div class="menu-tile">
							<a class="tile-body" href="{% url 'faci_new' %}" rel="nofollow" style="height: 100%;">
									<span style="font-size: 14pt;">Запланируй</span>
    							<img src="{% static 'faci/intro_new_faci.svg' %}">
								  <span style="font-size: 13pt;">свою встречу</span>
							</a>
				</div>
		</div>

		<p>
			<b>Внимание!</b> Контент, создаваемый на данном веб-сервисе, является доступным, в том числе и незарегистрированным посетителям.
			Пожалуйста, создавайте только такой контент, который считаете/является допустимым для публикации в открытый доступ.
		</p>

{% endblock %}
