{% extends 'template.html' %}
{% load static %}

{% block title %}
    {% if faci.id %} <a style="text-decoration: none;vertical-align: text-top;" href="{% url 'faci_list' %}"><img style="width: 45px;" src="{% static 'left_arrow.svg' %}"/></a> Редактирование встречи {% else %} Новая встреча {% endif %}
{% endblock %}
{% block page_title %} Встреча (холст фасилитации) {% endblock %}

{% block content %}
    {{ members|json_script:'members_json' }}
    {{ faci|json_script:'faci_json' }}
    {{ themes|json_script:'themes_json' }}
    {{ expr_types|json_script:'expr_types_json' }}
    {{ aim_type_choices|json_script:'aim_type_choices_json' }}
    {{ agreements|json_script:'agreements_json' }}
    <script src="{% static 'legacy/luxon.min.js' %}"></script>
    <script>
        var URL_SEARCH_USER = "search_user/";
        var URL_FACI_EDITOR_AIM = "aim/{% if 'link_to' in request.GET %}?link_to={{request.GET.link_to}}{% endif %}";
        var URL_FACI_EDITOR_PREPARING = "preparing/";
        var URL_FACI_EDITOR_START_MEETING = "start_meeting/";
        var URL_FACI_EDITOR_ADD_KEY_THOUGHT = "key_thoughts/add/";
        var URL_FACI_EDITOR_GET_KEY_THOUGHTS = "key_thoughts/get/";
        var URL_FACI_EDITOR_GET_EXPRESSIONS = "expressions/get/";
        var URL_FACI_EDITOR_ADD_EXPRESSION =  "expressions/add/";
        var URL_FACI_EDITOR_PARKED_THOUGHTS = "parked_thought/";
        var URL_FACI_EDITOR_GET_PARKED_THOUGHTS = "parked_thought/get/";
        var URL_FACI_ADD_AGREEMENT = "agreement/add/";
        var URL_FACI_EDITOR_MEMBER = "member/";
        var URL_FACI_EDITOR_ADD_THEME = "add_theme/";
        var CSRF_TOKEN = "{{ csrf_token }}";
        var CURRENT_USERNAME = "{{ request.user.username }}";
        var STATIC_PREFIX = "{% static '' %}";
        var MEETING_STATUS_EDITING = {{ MEETING_STATUS_EDITING }};
        var MEETING_STATUS_STARTED = {{ MEETING_STATUS_STARTED }};
        var MEETING_STATUS_FINISHED = {{ MEETING_STATUS_FINISHED }};
        var HAS_ACCESS_TO_EDIT_PREPARING = {% if has_access_to_edit_preparing %}true{% else %}false{% endif %};
        var HAS_ACCESS_TO_ADD_MEMBERS = {% if has_access_to_add_members %}true{% else %}false{% endif %};
        var HAS_ACCESS_TO_EDIT_AIM = {% if has_access_to_edit_aim %}true{% else %}false{% endif %};
        var HAS_ACCESS_TO_ACTIVATE_THEME = {% if has_access_to_activate_theme %}true{% else %}false{% endif %};
        var HAS_ACCESS_TO_ADD_KEY_THOUGHTS = {% if has_access_to_add_key_thoughts %}true{% else %}false{% endif %};
        var HAS_ACCESS_TO_ADD_PARKED_THOUGHTS = {% if has_access_to_add_parked_thoughts %}true{% else %}false{% endif %};
        var HAS_ACCESS_TO_ADD_EXPRESSION = {% if has_access_to_add_expression %}true{% else %}false{% endif %};
        var HAS_ACCESS_TO_ADD_THEME = {% if has_access_to_add_theme %}true{% else %}false{% endif %};
        var HAS_ACCESS_TO_ADD_AGREEMENT = {% if has_access_to_add_agreement %}true{% else %}false{% endif %};
        var HAS_ACCESS_TO_START_AND_STOP_MEETING = {% if has_access_to_start_and_stop_meeting %}true{% else %}false{% endif %};
    </script>
    <style>
        .windowWindow {
            position: fixed;
        }
        .card-body {
            position: relative;
        }
        .card-header {
            cursor: pointer;
        }
        .form_sheet {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #eeeeee;
            opacity: 90%;
            width: 100%;
            height: 100%;
            padding: 7px;
            text-align: center;
        }
        .form_sheet span {
            vertical-align: middle;
        }

        /* ListDown */
        .form_listdown {
            position: relative;
        }
        .button_ss {cursor: pointer;}
        .suggestions {
            position:absolute;
            width: calc(110% + 15px);
            background: #faf143; text-align: left;
            font-size: 10pt;
            color: #0e283c;
            z-index: 100;
        }
        .suggestions > div {padding: 4px 5px 4px 5px; border-bottom: 1px solid #dfa4a4; cursor: pointer;}
        .suggestions > div:hover {background:#ffe4e4;}

        .member-icon {
            width: calc(var(--bs-body-font-size) + 6px);
            height: calc(var(--bs-body-font-size) + 6px);
            cursor: pointer;
            margin-left: 4px;
        }
        .icon-neutral {
            fill: #382fe2;
        }
        .icon-negative {
            fill: #e2382f;
        }
        .icon-positive {
            fill: #38e22f;
        }

				.fade-enter-active, .fade-leave-active {
					transition: opacity .5s ease;
				}
				.fade-enter-from, .fade-leave-to {
					opacity: 0;
				}

				.theme:not(:last-child) .theme-header {
				    border-bottom: 1px solid #c1c1c1;
				}
				.theme:not(:last-child) {
				    margin-bottom: 1rem;
				}
    </style>

    <div id="app_faci"></div>
    <br>

    <script src="{% static 'window-component.js' %}"></script>
    <script src="{% static 'faci/step-aim-component.js' %}?v=2"></script>
    <script src="{% static 'faci/key-thoughts-chat-component.js' %}?v=12"></script>
    <script src="{% static 'faci/step-key-thoughts-component.js' %}?v=9"></script>
    <script src="{% static 'faci/step-preparing-component.js' %}?v=6"></script>
    <script src="{% static 'faci/step-agenda-component.js' %}?v=13"></script>
    <script src="{% static 'faci/listdown-field-item-component.js' %}?v=5"></script>
    <script src="{% static 'faci/listdown-field-component.js' %}?v=5"></script>
    <script src="{% static 'faci/step-member-search-item-component.js' %}?v=5"></script>
    <script src="{% static 'faci/step-member-item-component.js' %}?v=8"></script>
    <script src="{% static 'faci/step-members-component.js' %}?v=8"></script>
    <script src="{% static 'faci/step-agreements-component.js' %}?v=7"></script>
    <script src="{% static 'faci/faci-component.js' %}?v=2"></script>
    <script>
        const { createApp } = Vue;

        ListdownFieldItemComponent.components = {MemberSearchItemComponent};

        var app_faci = createApp(FaciComponent);
        app_faci.config.compilerOptions.delimiters = [ '[[', ']]' ];
        app_faci.config.unwrapInjectedRef = true;
        app_faci.mount('#app_faci');
    </script>
{% endblock %}
