{% extends 'template.html' %}
{% load static %}

{% block title %}
    {% if faci %} <a style="text-decoration: none;vertical-align: text-top;" href="{% url 'faci_list' %}"><img style="width: 45px;" src="{% static 'left_arrow.svg' %}"/></a> Редактирование встречи {% else %} Новая встреча {% endif %}
{% endblock %}
{% block page_title %} Встреча (холст фасилитации) {% endblock %}

{% block content %}
    {{ members|json_script:'members_json' }}
    {{ agendas|json_script:'agendas_json' }}
    <script>
        var URL_FACI_EDITOR_AGENDA = "agenda/";
        var URL_SEARCH_USER = "search_user/";
        var URL_FACI_EDITOR_AIM = "aim/{% if 'link_to' in request.GET %}?link_to={{request.GET.link_to}}{% endif %}";
        var URL_FACI_EDITOR_PREPARING = "preparing/";
        var URL_FACI_EDITOR_START_MEETING = "start_meeting/";
        var URL_FACI_EDITOR_KEY_THOUTS = "key_thoughts/";
        var URL_FACI_EDITOR_AGREEMENTS = "agreements/";
        var URL_FACI_EDITOR_MEMBER = "member/";
        var CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <style>
        .card-body {
            position: relative;
        }
        .card-header {
            cursor: pointer;
        }
        .form_sheet {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #eeeeee;
            opacity: 90%;
            width: 100%;
            height: 100%;
            padding: 7px;
            text-align: center;
        }
        .form_sheet span {
            vertical-align: middle;
        }

        /* ListDown */
        .form_listdown {
            position: relative;
        }
        .button_ss {cursor: pointer;}
        .suggestions {
            position:absolute;
            width: calc(110% + 15px);
            background: #faf143; text-align: left;
            font-size: 10pt;
            color: #0e283c;
            z-index: 100;
        }
        .suggestions > div {padding: 4px 5px 4px 5px; border-bottom: 1px solid #dfa4a4; cursor: pointer;}
        .suggestions > div:hover {background:#ffe4e4;}

        .member-icon {
            width: calc(var(--bs-body-font-size) + 6px);
            height: calc(var(--bs-body-font-size) + 6px);
            cursor: pointer;
            margin-left: 4px;
        }
        .icon-neutral {
            fill: #382fe2;
        }
        .icon-negative {
            fill: #e2382f;
        }
        .icon-positive {
            fill: #38e22f;
        }

    </style>

    <div class="row accordion">
        <div class="col-sm-6">
            <div class="card accordion-item">
                <div class="accordion-header accordion-button card-header" data-bs-toggle="collapse" data-bs-target="#aim_form" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    1. Цель
                </div>
                <form id="aim_form" class="card-body accordion-collapse collapse show">
                    <div class="mb-3 form-group" id="aim_type-group">
                        <div class="form-floating">
													  <select name="aim_type" class="form-select" id="aim_type-field">
															  {% for aim_type_id, aim_type_name in aim_type_choices %}
															      <option value="{{ aim_type_id }}" {% if aim_type_id == faci.aim_type %}selected{% endif %}>{{ aim_type_name }}</option>
															  {% endfor %}
														</select>
                            <label for="aim_type-field" class="form-label">Вид встречи</label>
                        </div>
                    </div>
                    <div class="mb-3 form-group" id="aim-group">
                        <div class="form-floating">
													  <input name="aim" class="form-control" id="aim-field" value="{{ faci.aim }}">
                            <label for="aim-field" class="form-label">Что мы пытаемся достичь?</label>
                        </div>
                    </div>
                    <div class="mb-3 form-group" id="if_not_reached-group">
                        <div class="form-floating">
													  <input name="if_not_reached" class="form-control" id="if_not_reached-field" value="{{ faci.if_not_reached }}">
                            <label for="if_not_reached-field" class="form-label">Что произойдёт, если цель не будет достигнута?</label>
                        </div>
                    </div>
                    <div class="mb-3 form-group" id="solutions-group">
                        <div class="form-floating">
                             <input name="solutions" class="form-control" id="solutions-field" value="{{ faci.solutions }}">
                             <label for="solutions-field" class="form-label">Первоначальные решения</label>
                        </div>
                    </div>

                    <input type="button" value="Сохранить{% if step == 1 %} и перейти к заполнению участников{% endif %}" class="btn btn-secondary" id="btn_save_aim">
                </form>
            </div>

            <br>

            <div class="card accordion-item">
                <div class="accordion-header card-header accordion-button" data-bs-toggle="collapse" data-bs-target="#members_form" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    2. Участники
                </div>
                <form id="members_form" class="card-body accordion-collapse collapse show">
                    <div id="app_members"></div>
                    <input type="button" value="Добавить" id="add_member_button" class="form-control">
                    <div class="{% if step > 1 %}d-none {% endif %}form_sheet">Для открытия выполните 1-й шаг</div>
                </form>
            </div>
        </div>

        <br/>

        <div class="col-sm-6">
            <div class="card accordion-item">
                <div class="accordion-header card-header accordion-button" data-bs-toggle="collapse" data-bs-target="#agenda_form" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    3. Повестка
                </div>
                <form id="agenda_form" class="card-body accordion-collapse collapse show">
                    <div id="app_agenda"></div>
                    <div class="{% if step > 2 %}d-none {% endif %}form_sheet"><span>Для открытия заполните, пожалуйста, список участников (2-й шаг)</span></div>
                </form>
            </div>

            <br/>

            <div class="card accordion-item">
                <div class="accordion-header card-header accordion-button" data-bs-toggle="collapse" data-bs-target="#preparing_form" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    4. Подготовка
                </div>
                <form id="preparing_form" class="card-body accordion-collapse collapse show">
                    <div class="form-group" id="dt_meeting-group">
                        <div class="form-floating">
                            <input name="dt_meeting" class="form-control" id="dt_meeting-field" value="{{ faci.dt_meeting|date:"Y-m-d\TH:i" }}" type="datetime-local">
										  			<label for="dt_meeting-field" class="form-label">Дата и время</label>
                        </div>
                    </div>
                    <div class="form-group" id="duration-group">
                        <div class="form-floating">
                            <input name="duration" class="form-control" id="duration-field" value="{{ faci.duration }}" type="number" min="1">
												  	<label for="duration-field" class="form-label">Длительность</label>
                        </div>
                    </div>
                    <div class="form-group" id="place-group">
                        <div class="form-floating">
                            <input name="place" class="form-control" id="place-field" value="{{ faci.place }}" type="text">
													  <label for="place-field" class="form-label">Место</label>
                        </div>
                    </div>
                    <input type="button" value="Сохранить" class="btn btn-secondary" id="btn_save_prepraring">
                    <input type="button" value="{% if faci.meeting_status == faci.MEETING_STATUS_STARTED %}Завершить встречу{% else %}Начать встречу{% endif %}" class="btn btn-secondary" id="button_start_meeting">
                    <div class="{% if step > 3 %}d-none {% endif %}form_sheet"><span>Откроется после выполнения 3-го шага</span></div>
                </form>
            </div>
        </div>
    </div>

    <br/>

    <div class="row accordion">
        <div class="col-sm-6">
            <div class="card accordion-item">
                <div class="accordion-header card-header accordion-button" data-bs-toggle="collapse" data-bs-target="#key_thoughts_form" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    5. Ключевые мысли
                </div>
                <form id="key_thoughts_form" class="card-body accordion-collapse collapse show">
                    <div class="mb-3">
                        <label for="key_thoughts-field" class="form-label">Ключевые мысли</label>
                        <textarea name="key_thoughts" id="key_thoughts-field" class="form-control" rows="10">{{ faci.key_thoughts }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="parked_thoughts-field" class="form-label" title="Полезные мысли, не относящиеся к теме встречи">Парковка</label>
                        <textarea name="parked_thoughts" id="parked_thoughts-field" class="form-control" rows="10">{{ faci.parked_thoughts }}</textarea>
                    </div>
                    <div class="{% if step > 4 %}d-none {% endif %}form_sheet">Станет доступно во время встречи (после шага 4)</div>
                </form>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card accordion-item">
                <div class="accordion-header card-header accordion-button" data-bs-toggle="collapse" data-bs-target="#agreements_form" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    6. Договорённости
                </div>
                <form id="agreements_form" class="card-body accordion-collapse collapse show">
                    <div class="mb-3">
                        <label for="other_agreements-field" class="form-label">Прочие договорённости</label>
							  				<textarea name="other_agreements" id="other_agreements-field" class="form-control" rows="10">{{ faci.other_agreements }}</textarea>
                    </div>
                    <div class="{% if step > 4 %}d-none {% endif %}form_sheet">Станет доступно во время встречи (после шага 4)</div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const { createApp } = Vue;
    </script>

    <script>
        const AgendaItem = {
            props: [
                'invited',
                'themes',
                'themes_duration',
                'questions',
                'fundamental_objections',
                'suggested_solutions',
                'counter_offer',
            ],
            emits: [],
            template: `
<div style="background-color: var(--bs-card-border-color); padding: 5px; border-radius: 3px; display: flex; justify-content: space-between;">
    <span>[[ themes_duration ]] мин</span>
    <span>[[ invited ]]</span>
</div>

<br>

<div v-if="themes">
    <div style="font-style: italic;">Тема выступления участника:</div>
    <p style="padding-left: 15px;"><pre>[[ themes ]]</>pre></p>
</div>

<div v-if="questions">
    <div style="font-style: italic;">Вопросы:</div>
    <p style="padding-left: 15px;"><pre style="font: inherit;">[[ questions ]]</pre></p>
</div>

<div v-if="fundamental_objections">
    <div style="font-style: italic;">Принципиальные возражения:</div>
    <p style="padding-left: 15px;"><pre style="font: inherit;">[[ fundamental_objections ]]</pre></p>
</div>

<div v-if="suggested_solutions">
    <div style="font-style: italic;">Предлагаемые решения:</div>
    <p style="padding-left: 15px;"><pre style="font: inherit;">[[ suggested_solutions ]]</pre></p>
</div>

<div v-if="counter_offer">
    <div style="font-style: italic;">Встречные предложения:</div>
    <p style="padding-left: 15px;"><pre style="font: inherit;">[[ counter_offer ]]</pre></p>
</div>
`,
        };
    </script>

    <script>
        const AgendaSelfItem = {
            props: [
                'invited',
                'themes',
                'themes_duration',
                'questions',
                'fundamental_objections',
                'suggested_solutions',
                'counter_offer',
            ],
            emits: ['click'],
            data() {
                return {
                    m_themes: this.themes,
                    m_themes_duration: this.themes_duration,
                    m_questions: this.questions,
                    m_fundamental_objections: this.fundamental_objections,
                    m_suggested_solutions: this.suggested_solutions,
                    m_counter_offer: this.counter_offer,
                };
            },
            template: `
<div style="background-color: var(--bs-card-border-color); padding: 5px; border-radius: 3px; display: flex; justify-content: space-between;">
    <span>
				<div class="mb-3 form-group" id="themes_duration-group" style="display: inline-block; margin-bottom: 0 !important;">
						<input v-model="m_themes_duration" name="themes_duration" min="1" max="120" type="number" style="width: 45pt; padding: 0 0 0 3px; display: initial;" class="form-control" id="themes_duration-field">
				</div> мин
    </span>
    <span>[[ invited ]]</span>
</div>

<br>

<div class="mb-3 form-group" id="themes-group">
		<div class="form-floating">
				<textarea v-model="m_themes" name="themes" style="width: 100%; height: 100px;" class="form-control" id="themes-field"></textarea>
				<label for="themes-field" class="form-label">Тема выступления участника:</label>
		</div>
</div>

<div class="mb-3 form-group" id="questions-group">
		<div class="form-floating">
				<textarea v-model="m_questions" name="questions" style="width: 100%; height: 100px;" class="form-control" id="questions-field"></textarea>
				<label for="questions-field" class="form-label">Вопросы:</label>
		</div>
</div>

<div class="mb-3 form-group" id="fundamental_objections-group">
		<div class="form-floating">
				<textarea v-model="m_fundamental_objections" name="fundamental_objections" style="width: 100%; height: 100px;" class="form-control" id="fundamental_objections-field"></textarea>
				<label for="fundamental_objections-field" class="form-label">Принципиальные возражения:</label>
		</div>
</div>

<div class="mb-3 form-group" id="suggested_solutions-group">
		<div class="form-floating">
				<textarea v-model="m_suggested_solutions" name="suggested_solutions" style="width: 100%; height: 100px;" class="form-control" id="suggested_solutions-field"></textarea>
				<label for="suggested_solutions-field" class="form-label">Предлагаемые решения:</label>
		</div>
</div>

<div class="mb-3 form-group" id="counter_offer-group">
		<div class="form-floating">
				<textarea v-model="m_counter_offer" name="counter_offer" style="width: 100%; height: 100px;" class="form-control" id="counter_offer-field"></textarea>
				<label for="counter_offer-field" class="form-label">Встречные предложения:</label>
		</div>
</div>

<input type="button" value="Сохранить" class="btn btn-secondary" @click="click">

<br>
`,
            methods: {
                click(event) {
                    this.$emit('click', this, event);
                },
            },
        };
    </script>

    <script>
        var app_agenda = createApp({
            props: [],
            data() {
                return {agendas: JSON.parse(document.getElementById('agendas_json').textContent)}
            },
            template: `
<template v-for="agenda in agendas">
    <agenda-self-item
        v-if="agenda.self"
        :invited="agenda.invited"
        :themes="agenda.themes"
        :themes_duration="agenda.themes_duration"
        :questions="agenda.questions"
        :fundamental_objections="agenda.fundamental_objections"
        :suggested_solutions="agenda.suggested_solutions"
        :counter_offer="agenda.counter_offer"
        @click="save_agenda"
    ></agenda-self-item>
    <div
        v-else
    >
        <agenda-item
            v-if="agenda.themes || agenda.questions"
            :invited="agenda.invited"
            :themes="agenda.themes"
            :themes_duration="agenda.themes_duration"
            :questions="agenda.questions"
						:fundamental_objections="agenda.fundamental_objections"
						:suggested_solutions="agenda.suggested_solutions"
						:counter_offer="agenda.counter_offer"
        ></agenda-item>
    </div>
</template>
            `,
            methods: {
                save_agenda(component, event) {
                    $.ajax({
                        url: URL_FACI_EDITOR_AGENDA,
                        headers: {
                            "X-CSRFToken": CSRF_TOKEN,
                        },
                        dataType: 'json',
                        data: {
                            themes: component.m_themes,
                            themes_duration: component.m_themes_duration,
                            questions: component.m_questions,
                            fundamental_objections: component.m_fundamental_objections,
                            suggested_solutions: component.m_suggested_solutions,
                            counter_offer: component.m_counter_offer,
                        },
                        success: function(result) {
                            set_valid_field(event.target.form, result.updated);
                            open_block(result['open_block']);
                        },
                        error: function(jqxhr, a, b) {
                            console.log('error');
                        },
                        statusCode: {
                            403: function(xhr) {
                                alert(xhr.responseJSON.detail);
                            },
                            400: function(xhr) {
                                set_invalid_field(event.target.form, xhr.responseJSON);
                            },
                        },
                        method: "post"
                    });
                },
            },
            components: {AgendaItem, AgendaSelfItem},
        });

        app_agenda.config.compilerOptions.delimiters = [ '[[', ']]' ];
        var agenda_list = app_agenda.mount('#app_agenda');
    </script>

    <script>
        const ListdownFieldItem = {
            props: ["key", "id", "data", "nameItemComponent", "value"],
            emits: ['change'],
            template: `<div v-on:click="$emit('change', id, value)">
                <component :is="nameItemComponent" v-bind="$attrs" :data=data><slot/></component>
            </div>`,
        }
    </script>

    <script>
        const ListdownField = {
            props: ["id", "value", "name", "edit", 'uneditableField', 'nameItemComponent'],
            emits: ['search-item', 'change', 'blur', 'focus', 'update:value', 'update:id'],
            template: `
<div class="component_listdown">
    <span class="button_ss" @click="focus" :class="{'d-none': is_edit}">[[ mvalue ]]</span>
    <div class="form_listdown" :class="{'d-none': !is_edit}">
        <input type='text' v-model.trim="query" @keyup="search_item" @blur="blur" class="field_listdown" v-bind="$attrs">
        <div class="suggestions">
            <listdown-field-item
                @change="select_item"
                v-for="item in item_list"
                :data="item.data"
                :value="item.value"
                :key="item.id"
                :id="item.id"
                :name-item-component="nameItemComponent"
            >[[item.value]]</listdown-field-item>
        </div>
        <input type="hidden" v-bind:name="name" v-model.trim="mid">
    </div>
</div>
`,
            data() {
                return {
                    mvalue: this.value,
                    query: '',
                    mid: this.id,
                    is_edit: this.edit,
                    item_list: [],
                    uneditable: this.uneditableField,
                }
            },
            methods: {
                focus(event) {
                    if (this.uneditable) {
                        return;
                    }
                    this.is_edit = true;
                    let self = this;
                    setTimeout(function() {
                        if (!self.query) self.query = self.mvalue;
                        self.$el.querySelector('.field_listdown').focus();
                        self.$emit('focus', self);
                    }, 20);
                },
                blur(event) {
                    let self = this;
                    setTimeout( // чтобы сначала отработало событие click на выбранном элементе
                        function() {
                            self.is_edit = false;
                            self.$emit('blur', self);
                        },
                        100,
                    );
                },
                search_item(event) {
                    this.item_list = [];
                    this.$emit('search-item', this);
                },
                select_item(item_id, item_value) {
                    this.mid = item_id;
                    this.mvalue = item_value;
                    this.$emit('update:id', item_id);
                    this.$emit('update:value', item_value);
                    if (this.$emit('change', item_id, item_value)) {
                        this.is_edit = false;
                        this.query = '';
                    }
                },
            },
            components: {
                ListdownFieldItem
            },
        }
    </script>

    <script>
        const MemberSearchItem = {
            props: ['data'],
            template: `
                <div>
                    <div>[[data.first_name]] [[data.last_name]]</div>
                    <div>[[data.username]]</div>
                </div>
            `,
        }
        ListdownFieldItem.components = {MemberSearchItem};
    </script>


    <script>
        const MemberItem = {
            props: ['member', 'memberMode'],
            data() {
                return {
                    mode: this.memberMode || 'view',
                    previous_for_what: undefined,
                    uneditable_invited: this.memberMode != 'add',
                    bad_message: '',
                };
            },
            template: `
<tr>
    <td>
        <listdown-field
              @search-item="search_user"
              @change="select_user"
              @blur="blur_selecting_user"
              @focus="focus_selecting_user"
              v-model:value="member.invited"
              :edit="member.edit"
              name="invited"
              :uneditable-field="uneditable_invited"
              placeholder="логин участника"
              name-item-component="member-search-item"
        ></listdown-field>
    </td>
    <td>
        <span>
            <span class="el_sign" style="display: inline-block; width: 100%;" :class="{'d-none': !(mode == 'view')}">[[ member.for_what ]]</span>
            <input v-model.trim="member.for_what" name="for_what" class="el_field" :class="{'d-none': !(mode == 'edit' || mode == 'add')}" placeholder="цель приглашения"/>
        </span>
    </td>
    <!--<td>[[ member.inviting ]]</td>-->
    <td style="text-align: center;">
        <svg class="bi member-icon icon-positive" role="img" title="Save" @click="save" :class="{'d-none': !(mode == 'edit' || mode == 'add')}">
            <use xlink:href="{% static 'base/extern/bootstrap-icons.svg' %}#check-square-fill"/>
        </svg>
        <svg class="bi member-icon icon-neutral" role="img" title="Edit" @click="edit" :class="{'d-none': !(mode == 'view')}">
            <use xlink:href="{% static 'base/extern/bootstrap-icons.svg' %}#pencil-fill"/>
        </svg>
        <svg class="bi member-icon icon-negative" role="img" title="Cancel" @click="cancel" :class="{'d-none': !(mode == 'edit' || mode == 'add')}">
            <use xlink:href="{% static 'base/extern/bootstrap-icons.svg' %}#x-square-fill"/>
        </svg>
    </td>
</tr>
<tr :class="{'d-none': !bad_message}">
    <td colspan="3">
        <div class="alert alert-danger" role="alert">[[ bad_message ]]</div>
    </td>
</tr>`,
            components: {
                ListdownField, MemberSearchItem,
            },
            methods: {
                save(component) {
                    let self = this;
                    $.ajax({
                        url: URL_FACI_EDITOR_MEMBER,
                        headers: {
                            "X-CSRFToken": CSRF_TOKEN,
                        },
                        dataType: 'json',
                        data: {for_what: self.member.for_what, invited_user: self.member.invited, mode: self.mode},
                        success: function(result) {
                            open_block(result['open_block']);
                            if (self.mode == 'add') {
                                agenda_list.agendas.push({invited: self.member.invited, themes: '', themes_duration: 5, questions: '', fundamental_objections: '', suggested_solutions: '', counter_offer: '', self: self.member.invited == '{{request.user.username}}' });
                            Zz}
                            self.mode = 'view';
                            self.uneditable_invited = true;
                            self.bad_message = '';
                        },
                        statusCode: {
                            400: function(xhr) {
                                self.bad_message = ''
                                for (let key in xhr.responseJSON) {
                                    self.bad_message += key + ': ' + xhr.responseJSON[key] + '';
                                }
                            },
                            403: function(xhr) {
                                self.bad_message = xhr.responseJSON;
                            }
                        },
                        method: "post"
                    });
                },
                search_user(component) {
                    $.ajax({
                        url: URL_SEARCH_USER,
                        headers: {
                            "X-CSRFToken": CSRF_TOKEN,
                        },
                        dataType: 'json',
                        data: {search_string: component.query},
                        success: function(result) {
                            let username;
                            for (user_data of result) {
                                component.item_list.push({'id': user_data.username, 'value': user_data.username, 'data': user_data});
                            }
                            if (component.item_list.length == 0) {
                                component.item_list.push({'id': null, 'value': 'пользователь не найден', 'data': {'last_name': 'пользователь не найден'}});
                            }
                        },
                        method: "post"
                    });
                },
                select_user(id, value) {
                },
                blur_selecting_user(component) {
                },
                focus_selecting_user(component) {
                },
                edit() {
                    this.mode = 'edit';
                    this.previous_for_what = this.member.for_what;
                },
                cancel() {
                    if (this.mode == 'add') {
                        this.$parent.member_list.pop(-1);
                    }
                    this.mode = 'view';
                    this.member.for_what = this.previous_for_what;
                    this.bad_message = '';
                },
            },
        }
    </script>

    <script>
        var app_members = createApp({
            template: `
<table style="width: 100%;">
    <tr style="text-align: center;">
        <th>Участник</th>
        <th>В каком вопросе компетентен</th>
        <!--<th>Кто пригласил</th>-->
        <th></th>
    </tr>
    <member-item
        v-for="member in member_list"
        :member="member"
        :member-mode="mode"
    ></member-item>
</table>`,
            data() {
                return {
                    member_list: JSON.parse(document.getElementById('members_json').textContent),
                    mode: 'view',
                }
            },
            methods: {
                add_member(event) {
                    this.mode = 'add',
                    this.member_list.push({
                        'id': '',
                        'invited': '',
                        'inviting': '{{ request.user.username }}',
                        'for_what': '',
                        'edit': true
                    });
                    setTimeout(function() {
                        let member_item = $('#app_members > table > tr:last-child')[0].previousElementSibling;
                        member_item.querySelector('.button_ss').click();
                    }, 40);
                },
            },
            components: {
                MemberItem
            },
        });
        app_members.config.compilerOptions.delimiters = [ '[[', ']]' ];
        var member_list = app_members.mount('#app_members');

        $("#add_member_button").click(member_list.add_member);
    </script>

    <script>
        function open_block(block_name) {
            if (block_name) {
                $('#'+block_name+'_form .form_sheet')[0].classList.add('d-none');
            }
        }

        function save_form_aim(event) {
            $.ajax({
                url: URL_FACI_EDITOR_AIM,
                headers: {
                    "X-CSRFToken": CSRF_TOKEN,
                },
                dataType: 'json',
                data: $(event.target.form).serialize(),
                success: function(result) {
                    set_valid_field(event.target.form, result.updated);
                    try {
                        history.pushState(null, null, location.href.replace('/new', '/'+result['id']));
                        open_block(result['open_block']);
                    } catch(e) {}
                },
                error: function(jqxhr, a, b) {
                    console.log(jqxhr.responseText);
                },
                statusCode: {
                    403: function(xhr) {
                        alert(xhr.responseJSON.detail);
                    },
                    400: function(xhr) {
                        set_invalid_field(event.target.form, xhr.responseJSON);
                    },
                },
                method: "post"
            });
        }

        function save_form_preparing(event) {
            let form = event.target.form;
            $.ajax({
                url: URL_FACI_EDITOR_PREPARING,
                headers: {
                    "X-CSRFToken": CSRF_TOKEN,
                },
                dataType: 'json',
                data: $(form).serialize(),
                success: function(result) {
                    set_valid_field(form, result.updated);
                },
                error: function(jqxhr, a, b) {
                    console.log(jqxhr.responseText);
                },
                statusCode: {
                    403: function(xhr) {
                        alert(xhr.responseJSON.detail);
                    },
                    400: function(xhr) {
                        set_invalid_field(form, xhr.responseJSON);
                    },
                },
                method: "post"
            });
        }

        function start_meeting(event) {
            $.ajax({
                url: URL_FACI_EDITOR_START_MEETING,
                headers: {
                    "X-CSRFToken": CSRF_TOKEN,
                },
                dataType: 'json',
                data: {},
                success: function(result) {
                    if (result['meeting_status'] == {{ faci.MEETING_STATUS_STARTED }}) {
                        open_block('key_thoughts');
                        open_block('agreements');
                        event.target.value = 'Завершить встречу';
                    } else if (result['meeting_status'] == {{ faci.MEETING_STATUS_FINISHED }}) {
                        event.target.value = 'Начать встречу';
                    }
                },
                error: function(jqxhr, a, b) {
                    console.log('error');
                    console.log(jqxhr.responseText);
                },
                method: "post"
            });
        }

        function save_key_thoughts(event) {
            $.ajax({
                url: URL_FACI_EDITOR_KEY_THOUTS,
                headers: {
                    "X-CSRFToken": CSRF_TOKEN,
                },
                dataType: 'json',
                data: $(event.target.form).serialize(),
                success: function(result) {
                    set_valid_field(event.target.form, result.updated);
                },
                statusCode: {
                    403: function(xhr) {
                        alert(xhr.responseJSON.detail);
                    },
                    400: function(xhr) {
                        set_invalid_field(event.target.form, xhr.responseJSON);
                    },
                },
                method: "post"
            });
        }

        function save_agreements(event) {
            $.ajax({
                url: URL_FACI_EDITOR_AGREEMENTS,
                headers: {
                    "X-CSRFToken": CSRF_TOKEN,
                },
                dataType: 'json',
                data: $(event.target.form).serialize(),
                success: function(result) {
                    set_valid_field(event.target.form, result.updated);
                },
                statusCode: {
                    403: function(xhr) {
                        alert(xhr.responseJSON.detail);
                    },
                    400: function(xhr) {
                        set_invalid_field(event.target.form, xhr.responseJSON);
                    },
                },
                method: "post",
            });
        }

        $('#btn_save_aim').click(save_form_aim);
        $('#btn_save_prepraring').click(save_form_preparing);
        $('#button_start_meeting').click(start_meeting);
        $('#key_thoughts_form').change(save_key_thoughts);
        $('#agreements_form').change(save_agreements);
    </script>
{% endblock %}
